<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title | default: "My Lab" }}</a></h1>
        <p>{{ site.description }}</p>
        
        <p class="view"><a href="{{ "/" | relative_url }}">Home</a></p>
        <p class="view"><a href="https://github.com/{{ site.github.owner_name }}">View GitHub Profile</a></p>
      </header>
      
      <section>
        {{ content }}
      </section>
      
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
